html[data-theme='dark'] body {
  background: #1c1427;
}

html[data-theme='dark'] header .header-container .mode-container input {
  background: #2b2e4a;
}

html[data-theme='dark'] header .header-container .mode-container input::after {
  background: #f3f4ed;
  left: 30px;
}

html[data-theme='dark'] header form {
  background: #2b2e4a;
  -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

html[data-theme='dark'] header form .filter input[type='text'] {
  background: #2b2e4a;
  color: #fff;
  caret-color: #fff;
}

html[data-theme='dark'] header form .filter input[type='text']::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

html[data-theme='dark'] header form .filter input[type='text']:-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

html[data-theme='dark'] header form .filter input[type='text']::-ms-input-placeholder {
  color: #fff;
  opacity: 0.6;
}

html[data-theme='dark'] header form .filter input[type='text']::placeholder {
  color: #fff;
  opacity: 0.6;
}

html[data-theme='dark'] header form .filter-checkbox input[type='checkbox']::after {
  -webkit-transform: translate(-50%, -50%) scale(1.7);
          transform: translate(-50%, -50%) scale(1.7);
}

html[data-theme='dark'] header form .filter-checkbox label {
  color: #fff;
}

html[data-theme='dark'] main section {
  background: #2b2e4a;
  -webkit-box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.1);
}

html[data-theme='dark'] main section .job-details,
html[data-theme='dark'] main section .company-name {
  color: #fff;
  opacity: 0.8;
}

html[data-theme='dark'] main section .job-title {
  color: #fff;
}

html[data-theme='dark'] aside header {
  background: #2b2e4a;
}

html[data-theme='dark'] aside header .company-details h3 {
  color: #fff;
}

html[data-theme='dark'] aside header .company-details p {
  color: #9daec2;
}

html[data-theme='dark'] aside header a {
  color: #fff;
}

html[data-theme='dark'] aside section {
  background: #2b2e4a;
}

html[data-theme='dark'] aside section .job-posting-details h2 {
  color: #fff;
}

html[data-theme='dark'] aside section .job-posting-details .time-posted {
  color: #9daec2;
}

html[data-theme='dark'] aside section .job-description p {
  color: #9daec2;
}

html[data-theme='dark'] aside section .job-description p a {
  color: #fff;
}

html[data-theme='dark'] aside section .job-description ol {
  color: #9daec2;
}

html[data-theme='dark'] aside section .job-description ul li {
  color: #9daec2;
}

html[data-theme='dark'] aside footer h3 {
  color: #fff;
}

html[data-theme='dark'] aside footer p {
  color: #9daec2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #f3f4ed;
  font-family: sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
}

body form.hide,
body main.hide,
body footer.hide {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  visibility: hidden;
}

body .header {
  width: 100%;
  height: 10rem;
  position: relative;
  background: url(assets/desktop/bg-pattern-header.svg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .header-container {
  margin-top: 3rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .header-container img {
  cursor: pointer;
}

body .header .header-container .mode-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .header-container .mode-container img,
body .header .header-container .mode-container input {
  margin: 0 5px;
}

body .header .header-container .mode-container img {
  cursor: pointer;
}

body .header .header-container .mode-container input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.2rem;
  width: 3rem;
  background: #fff;
  border: none;
  border-radius: 4rem;
  outline: none;
}

body .header .header-container .mode-container input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: #5964e0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body .header form {
  position: absolute;
  bottom: -2rem;
  height: 4rem;
  border-radius: 5px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .header form .filter {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  padding-left: 2rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

body .header form .filter input[type='text'] {
  width: 70%;
  margin-left: 1rem;
  border: none;
  outline: none;
  padding: 10px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body .header form .filter input[type='text']::-webkit-input-placeholder {
  opacity: 0.5;
}

body .header form .filter input[type='text']:-ms-input-placeholder {
  opacity: 0.5;
}

body .header form .filter input[type='text']::-ms-input-placeholder {
  opacity: 0.5;
}

body .header form .filter input[type='text']::placeholder {
  opacity: 0.5;
}

body .header form .one {
  width: 40%;
}

body .header form .two {
  width: 25%;
}

body .header form .filter-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 20%;
  padding-left: 2rem;
}

body .header form .filter-checkbox input[type='checkbox'] {
  position: relative;
  background: #9daec2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

body .header form .filter-checkbox input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(4);
          transform: translate(-50%, -50%) scale(4);
  background-image: url(assets/desktop/icon-check.svg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 15px;
  width: 15px;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body .header form .filter-checkbox input[type='checkbox']:checked {
  background: #5964e0;
}

body .header form .filter-checkbox input[type='checkbox']:checked::after {
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body .header form .filter-checkbox label {
  margin-left: 1rem;
  font-weight: 700;
}

body .header form button {
  height: 65%;
  width: 9rem;
  background: #5964e0;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
}

body .header form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body main {
  width: 80%;
  display: block;
  margin: 8rem auto 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 3rem;
  place-items: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body main section {
  min-width: 300px;
  min-height: 250px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 2rem;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

body main section .img-container {
  margin: -3.5rem 0 1rem;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #9daec2;
}

body main section .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

body main section .job-details {
  color: #6e8098;
  font-weight: 500;
}

body main section .job-title {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

body main section .company-name {
  margin-top: 10px;
  color: #6e8098;
  font-weight: 500;
}

body main section .company-location {
  margin-top: 40px;
  color: #5964e0;
  font-weight: bold;
}

body main section:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  border: 2px solid #5964e0;
  z-index: 10;
}

body footer button {
  display: block;
  margin: 5rem auto;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 1rem 2rem;
  background: #5964e0;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}

body footer button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body aside {
  width: 50%;
  margin-top: 3rem;
  display: block;
  margin: -2rem auto 0;
  position: relative;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  visibility: hidden;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

body aside header {
  height: 100px;
  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body aside header .img-container {
  height: 100px;
  width: 100px;
  background: #fff;
  border-top-left-radius: 5px;
}

body aside header .img-container img {
  border-top-left-radius: 5px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

body aside header .company-details {
  margin-left: 2rem;
}

body aside header .company-details p {
  margin-top: 10px;
  color: #6e8098;
}

body aside header a {
  position: absolute;
  right: 5%;
  border: none;
  outline: none;
  font-size: 13.5px;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  background: rgba(147, 155, 244, 0.2);
  color: #5964e0;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

body aside header a:hover {
  background: rgba(147, 155, 244, 0.5);
}

body aside header .aside-back-btn {
  position: absolute;
  top: 4rem;
  left: -7rem;
  outline: none;
  border: none;
  background: #5964e0;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

body aside header .aside-back-btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body aside header .aside-back-btn img {
  height: 30px;
  width: 30px;
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(106%) contrast(102%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(192deg) brightness(106%) contrast(102%);
}

body aside section {
  background: #fff;
  margin-top: 2rem;
  padding: 4rem 2rem;
  border-radius: 5px;
}

body aside section .job-posting-details {
  position: relative;
}

body aside section .job-posting-details p {
  color: #6e8098;
}

body aside section .job-posting-details h2 {
  margin-top: 10px;
}

body aside section .job-posting-details .job-location {
  color: #5964e0;
  font-weight: 700;
  margin-top: 10px;
}

body aside section .job-posting-details a {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #5964e0;
  padding: 1rem;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
}

body aside section .job-description {
  margin-top: 2rem;
}

body aside section .job-description h2 {
  color: #fff;
  margin-top: 2rem;
}

body aside section .job-description p {
  color: #6e8098;
  margin-top: 20px;
  line-height: 1.5rem;
}

body aside section .job-description ol {
  color: #6e8098;
  padding: 1rem;
}

body aside section .job-description ul {
  margin-top: 10px;
  padding: 1rem;
}

body aside section .job-description ul li {
  color: #6e8098;
  line-height: 1.5rem;
  margin-top: 1rem;
}

body aside .apply-section {
  padding: 2.5rem 2rem;
  margin-top: 2rem;
  background: url(assets/desktop/bg-pattern-detail-footer.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

body aside .apply-section h4 {
  color: #fff;
}

body aside .apply-section p {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.5rem;
  margin: 2rem 0 2rem 0;
}

body aside .apply-section a {
  color: #fff;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}

body aside footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5rem 0 3rem;
}

body aside footer div p {
  color: #6e8098;
  margin-top: 10px;
}

body aside footer a {
  text-decoration: none;
  color: #fff;
  background: #5964e0;
  padding: 1rem;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
}

body aside.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  visibility: visible;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
/*# sourceMappingURL=styles.css.map */